.page-title-editable {
    font-size: 36px;
    background-color: var(--color-black);
    font-weight: 500;
    color: var(--color-primary);
    cursor: text;
    padding: 5px 13px;
    margin-left: 35px;
    margin-bottom: 20px;
}

.page-title-editable:hover {
    background-color: var(--color-light-black);
}

.page-title-editable:focus {
    border: none;
    outline: none;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #aaa;
}

.blocks-container {
    width: 100%;
}

.new-block-container {
    position: relative;
}

.new-block {
    font-size: 16px;
    background-color: var(--color-black);
    font-weight: 300;
    color: var(--color-white);
    cursor: text;
    padding: 7px 13px;
    margin-left: 35px;
}

.new-block:hover {
    background-color: var(--color-light-black);
}

.new-block:focus {
    border: none;
    outline: none;
}

.block-types-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: var(--color-light-black);
    border-radius: 7px;
    bottom: 130%;
    right: 40px;
    overflow-y: scroll;
}

.block-types-heading {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    color: var(--color-primary);
}

.block-types {
    font-size: 20px;
    color: var(--color-white);
    font-weight: 300;
    padding: 8px 20px;
    margin: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
}

.block-types:hover {
    background-color: var(--color-black);
}

.block-types:focus {
    background-color: var(--color-black);
    border: none;
    outline: none;
}