.home-container {
    display: grid;
    grid-template-rows: 60px auto;
    width: 100%;
    height: 100vh;
}

.hide-side-navbar {
    grid-template-columns: 0fr 1fr;
}

.show-side-navbar {
    grid-template-columns: 300px 1fr;
}