* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
}
 
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    --color-black: #18191A;
    --color-light-black: #242526;
    --color-primary: #E26310;
    --color-white: #FFFFFF;
}